<!-- Step 15(J): Remove all the fix parts and add the following line -->
<% layout('layouts/boilerplate') %>
    <!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campground</title>
</head>

<body> -->
    <!-- <h1>Edit Campground</h1>
    <form action="/campgrounds/%= campground._id %>?_method=PUT" method="POST">
        <div>
            We want to group things under "campground"; when the data is
            sent via POST request to our express app (server), everything in the
            req.body will be stored under "campground". So we use (req.body.campground)
            for creating new objects in the "POST" request,
            because we don't want the "campground" title
            <label for="title">Title</label>
            <input type="text" id="title" name="campground[title]" value="%= campground.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="campground[location]" value="%= campground.location %>">
        </div>
        <button>Update Campground</button>
    </form>
    <a href="/campgrounds/%= campground._id %>">Back to Campground</a> -->

    <!-- Step 20(E): Copy the codes of "newejs" and paste them here and
    make the necessary changes, specially the values -->
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <!-- Change the <form> tag based on what we had before -->
            <!-- Step 21(L): Add the "novalidate" attribute and the "validated-form" for the <form> tag
            (novalidate means do not do the validation, we do it ourselves, by the <script> tag)-->
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate
                class="validated-form">
                <div class="mb-3">
                    <!-- We want to group things under "campground"; when the data is
                    sent via POST request to our express app (server), everything in the
                    req.body will be stored under "campground". So we use (req.body.campground)
                    for creating new objects in the "POST" request,
                    because we don't want the "campground" title -->
                    <label class="form-label" for="title">Title</label>
                    <!-- Step 21(F): Add the "required" attribute for all the inputs of "new.ejs" and "edit.ejs" -->
                    <input class="form-control" type="text" id="title" name="campground[title]" required
                        value="<%= campground.title %>">
                    <!-- Step 21(T): Create a new <div> tag with the class of "valid-feedback"
                        for having a nice text after each input: -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <!-- Step 21(G): Add the "required" attribute for all the inputs of "new.ejs" and "edit.ejs" -->
                    <input class="form-control" type="text" id="location" name="campground[location]" required
                        value="<%= campground.location %>">
                    <!-- Step 21(U): Create a new <div> tag with the class of "valid-feedback"
                        for having a nice text after each input: -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <!-- Step 20(D): Adding the "image" section, "price" section and the "description" section: -->
                <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <!-- Step 21(H): Add the "required" attribute for all the inputs of "new.ejs" and "edit.ejs" -->
                    <input class="form-control" type="text" id="image" name="campground[image]" required
                        value="<%= campground.image %>">
                    <!-- Step 21(V): Create a new <div> tag with the class of "valid-feedback"
                        for having a nice text after each input: -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <!-- Step 21(I): Add the "required" attribute for all the inputs of "new.ejs" and "edit.ejs" -->
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required
                            value="<%= campground.price %>">
                        <!-- Step 21(W): Create a new <div> tag with the class of "valid-feedback"
                        for having a nice text after each input: -->
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <!-- Step 21(J): Add the "required" attribute for all the inputs of "new.ejs" and "edit.ejs" -->
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required><%= campground.description %></textarea>
                    <!-- Step 21(X): Create a new <div> tag with the class of "valid-feedback"
                        for having a nice text after each input: -->
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
            <!-- <a href="/campgrounds">All Campgrounds</a> -->
            <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
        </div>
    </div>
    <!-- </body>

</html> -->

    <!-- Step 21(N): In the Bootstrap web page:
https://getbootstrap.com/docs/5.0/forms/validation/
We should copy the <script> tag and paste it here
    and change the class name to "validated-form": -->
    <!-- <script>
        (function () {
            'use strict'
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validated-form')
            // Loop over them and prevent submission
            Array.prototype.slice.call(forms) // Changing the form into an array
                .forEach(function (form) { // Looping over the array
                    form.addEventListener('submit', function (event) { // Adding an EventListener to the form
                        if (!form.checkValidity()) { // If the form is not valid
                            event.preventDefault() // Stoping the default behaviour of the form
                            event.stopPropagation() // Stoping the submiting process
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script> -->
    <!-- Step 21(Z): Move the <script> tag of the 2 pages to "boilerplate.ejs" -->