<!-- Step 15(F): Remove all the fix parts and add the following line -->
<% layout('layouts/boilerplate') %>
    <!-- <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Campgrounds</title>
    </head>

    <body> -->
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div>
    <!-- Step 20 (B): Remove/Comment the <li> and <ul> tags
    <ul> -->
    <!-- Step 20 (A): In the Bottstrap 5 website, on the left menu choose "component", then "card" -->
    <% for (let campground of campgrounds) { %>
        <!-- <li>
            %= campground.title %>
                <a href="/campgrounds/%= campground._id %>">
                    %= campground.title %>
                </a>
        </li> -->
        <!-- Step 20 (C): Create the elements of the campgrounds that should be presented
        by using the "card" class, the classes are already presented in Bootstrap -->
        <div class="card" mb-3><!-- mb = margin-button -->
            <div class="row">
                <div class="col-md-4"><!-- col-md-4 = column-medium-4 -->
                    <img class="img-fluid" src="<%= campground.image %>" alt="Camp">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="campgrounds/<%= campground._id %>">View <%= campground.title %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
            <!-- </ul>
    </body>

    </html> -->